
// colors

$primary: linear-gradient(242deg, #00DBDE 0%, #FC00FF 100%);
$primary12: linear-gradient(242deg, #00DBDE 0%, #FC00FF 100%);

$altert: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
$dark-grey: #363636;
$ligth-grey: #D8D8D8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$whitee: rgb(140, 21, 196);
$google-bluee: #000755;
$alterte:#d10000

